@import "./variables";
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);

@mixin button($color) {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #e4e4e4;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;


    &:hover {
        background-color: $color;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    &:active {
        transform: translateY(-1px);
    }

}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: whitesmoke;
    background: #000;

    section {
        display: grid;
        place-items: center;
        margin: 0;
        height: 100vh;

        @media screen and (max-width:767px) {
            height: 70vh;
        }

        div {
            max-width: 80%;

            h2 {
                font-size: 200%;
                margin: 0;

                @media screen and (max-width: 767px) {
                    max-width: 80%;
                    text-align: center;
                    margin: auto;
                }
            }

            p {
                width: 50%;
                opacity: 0.5;
                margin: 1em auto;

                @media screen and (max-width: 767px) {
                    width: 80%;
                }

            }

            .big-title {
                background-color: white;
                color: transparent;
                font-size: 10rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;

                background-image: url(../fluid-2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-clip: text;

                @media screen and (max-width:767px) {
                    all: unset;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;

                    font-size: 3em;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }

        .video-bg {
            max-width: 100%;
            display: block;

            @media screen and (max-width:767px) {
                max-width: 100%;
            }
        }

        .site-title {
            margin: 0;
            text-transform: uppercase;
            font-family: $ff-4;
            font-size: 8em;
            mask-image: linear-gradient(rgba(0 0 0/1),
                    rgba(0 0 0/0.3),
                    rgba(0 0 0/0),

                );

            @media screen and (max-width:767px) {
                font-size: 3em;

            }
        }


    }
}



section:nth-child(2) {
    color: #fff;
    display: flex;
    flex-direction: row;

    @media screen and (max-width:767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
    }

    .spline-description {
        max-width: 50%;

        h2 {
            font-family: $ff-4;
            text-align: left;
            margin-left: 3em;

            @media screen and (max-width:767px) {
                margin-left: 1em;
            }
        }

        p {
            max-width: 80%;
            margin: 1em 5em;
            text-align: left;

            @media screen and (max-width:767px) {
                margin-left: 1em;
            }
        }

        sub {
            font-family: EB Garamond;
            font-style: italic;
            font-weight: 400;
        }

        @media screen and (max-width:767px) {
            max-width: 90%;
            order: 2;
        }
    }

    iframe {
        width: 600px;
        aspect-ratio: 1;

        @media screen and (max-width:767px) {
            max-width: 95%;
            order: 1;
        }
    }
}

.clip-path-section {
    background-color: #000000;
    color: #000;
    height: 100vh;

    button {
        @include button(#424242);
    }

    h2 {
        font-size: 7rem;

        @media screen and (max-width:767px) {
            font-size: 3rem;
        }
    }

    &:hover .inner {
        clip-path: circle(200% at 0% 0%);
    }

    .inner {
        box-sizing: border-box;
        padding: 10em 1em;
        height: 80%;
        border-radius: 34px;
        background-color: white;
        clip-path: circle(0% at 0% 0%);
        transition: clip-path 0.75s ease-in;

        @media screen and (max-width:767px) {
            padding: 3em 0em;
            height: 50%;
        }
    }
}




.typeit {
    h2 {
        font-size: 6rem;
        text-wrap: balance;

        @media screen and (max-width:767px) {
            font-size: 2em;
        }
    }
}

.css-loader {
    all: unset;
    margin: 0;
    margin-right: 0;
    display: grid;
    place-items: center;

    .loader {
        display: flex;
        position: relative;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        height: 55px;
        width: 200px;
        overflow: hidden;

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 200px;
            position: relative;
            align-items: center;

            .carousel {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                position: absolute;
                width: 100%;
                transform-origin: center;
                animation-delay: 2s;
            }

            &:nth-child(3) {
                justify-content: flex-start;
                justify-items: flex-start;
                animation: scroll-up 4s infinite ease-in-out;
                animation-delay: 3s;
            }

            &:nth-child(2) {
                justify-content: flex-end;
                justify-items: flex-end;
                animation: scroll-down 4s infinite ease-in-out;
                animation-delay: 3s;
            }

            &:nth-child(1) {
                justify-content: flex-end;
                justify-items: flex-end;
                animation: scroll-down 3s infinite ease-in-out;
                animation-delay: 3s;
            }
        }

        .love {
            background: red;
            display: flex;
            width: 30px;
            height: 30px;
            position: relative;
            align-items: center;
            justify-content: center;
            left: 8px;
            margin: 0.8rem 4px;
            transform: rotate(45deg);
            animation-delay: 2s;
        }

        .love::before,
        .love::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: red;
        }

        .love::before {
            left: -16px;
        }

        .love::after {
            top: -16px;
        }

        .death {
            display: flex;
            width: 100%;
            height: 55px;
            position: relative;
            align-items: center;
            justify-content: center;
            animation: rotation 3s infinite ease-in-out;
            animation-delay: 1s;
        }

        .death:after {
            content: '';
            height: 63px;
            position: absolute;
            border-left: 12px solid red;
            transform: rotate(45deg);
            border-radius: 8px;
            top: -4px;
        }

        .death:before {
            content: '';
            height: 60px;
            position: absolute;
            border-left: 12px solid red;
            transform: rotate(-45deg);
        }

        .loader:hover {
            animation: none;
        }

        .robots {
            display: flex;
            width: 100%;
            height: 55px;
            justify-content: space-between;
            background-color: #ff0000;
            border-radius: 0 8px 8px;
            padding: 8px;
            animation-delay: 5s;
        }

        .robots::after {
            content: '';
            width: 12px;
            height: 12px;
            top: 0;
            left: 0;
            background-color: #ffffff;
            border-radius: 50%;
            animation-delay: 2s;
            animation: blink 0.5s 2 forwards;
        }

        .robots::before {
            content: '';
            width: 12px;
            height: 12px;
            top: 0;
            left: 0;
            background-color: #ffffff;
            border-radius: 50%;
            animation-delay: 2s;
            animation: blink 0.5s 2 forwards;
        }

        @keyframes scroll-up {
            0% {
                transform: translateY(0);
                filter: blur(0);
            }

            30% {
                transform: translateY(-150%);
                filter: blur(10px);
            }

            60% {
                transform: translateY(0);
                filter: blur(0px);
            }
        }

        @keyframes scroll-down {
            0% {
                transform: translateY(0);
                filter: blur(0);
            }

            30% {
                transform: translateY(150%);
                filter: blur(10px);
            }

            60% {
                transform: translateY(0);
                filter: blur(0px);
            }
        }

        @keyframes rotation {

            20%,
            100% {
                transform: rotate(180deg);
            }
        }

        @keyframes blink {
            0% {
                height: 0;
            }

            20% {
                height: 12px;
            }

            100% {
                height: 12px;
            }
        }
    }
}

#shadow-host-companion {
    display: none;
}